@charset "utf-8";
body{
	font-family:Helvetica, Verdana, Arial,  sans-serif;
	font-size:12px;
	margin: 0px;
	padding: 10px;
	background-color: white ; 
}

img{
	border : none;
}

a{
	color : grey; 
	font-weight:bold;
	text-decoration : none;
}

a:hover{
	color:  #F60; 
}

hr{
	color : #00adef;
}

.menu{
	text-decoration: none;
	font-weight:bold;
	color : white;
	cursor: pointer;
	background-color: #00adef; 
	padding : 5px;
}

.menu:hover{
	color : white;
	background-color : grey; 
}

table{
	font-size:12px;
}
.alterne:nth-child(even) {
    background-color : LightGrey;
}

.libsite{
	background-color: white; 
	color : #00adef;
	font-weight:bold;
	font-size:2em;
}

h1{
	font-size:1.1em;
}

.message{
	color:red;
	font-weight:bold;
}