@font-face {
    font-family: 'Proxima Soft';
    src: url('../font/ProximaSoft-Thin.eot');
    src: local('Proxima Soft Thin'), local('ProximaSoft-Thin'),
        url('../font/ProximaSoft-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/ProximaSoft-Thin.woff2') format('woff2'),
        url('../font/ProximaSoft-Thin.woff') format('woff'),
        url('../font/ProximaSoft-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../font/ProximaSoft-Bold.eot');
    src: local('Proxima Soft Bold'), local('ProximaSoft-Bold'),
        url('../font/ProximaSoft-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/ProximaSoft-Bold.woff2') format('woff2'),
        url('../font/ProximaSoft-Bold.woff') format('woff'),
        url('../font/ProximaSoft-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Soft';
    src: url('../font/ProximaSoft-Regular.eot');
    src: local('Proxima Soft Regular'), local('ProximaSoft-Regular'),
        url('../font/ProximaSoft-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/ProximaSoft-Regular.woff2') format('woff2'),
        url('../font/ProximaSoft-Regular.woff') format('woff'),
        url('../font/ProximaSoft-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ficheReservation {
    font-family: 'Proxima Soft';
    height: 80%;
}

.ficheReservation table {
    height: 700px;
}

.ficheReservation form {
    font-family: 'Proxima Soft';
    /* centrer le contenu */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* couleur de fond */
    background-color: #f2f2f2;
    margin: auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    /* grossir les éléments */
    font-size: 1.5em;
}

.ficheReservation form input {
    font-family: 'Proxima Soft';
    /* centrer le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
    /* couleur de fond */
    background-color: #f2f2f2;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    /* grossir les éléments */
    font-size: 1em;
}

select {
    font-family: 'Proxima Soft';
    /* centrer le contenu */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* couleur de fond */
    background-color: #f2f2f2;
    margin: auto;
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    /* grossir les éléments */
    font-size: 1em;
    height: 500px;
}

.ficheReservation form input[type="submit"] {
    cursor: pointer;
    font-family: 'Proxima Soft';
    /* centrer le contenu */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* couleur de fond */
    background-color: #f2f2f2;
    margin: auto;
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    /* grossir les éléments */
    font-size: 1em;
}

.ficheReservation form input[type="submit"]:hover {
    font-family: 'Proxima Soft';
    background-color: #ccc;
}

.ficheReservation div {
    padding: 10px;
}

.ficheReservation .datesReservation {
    font-family: 'Proxima Soft';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62bebe;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
}

.sellect-destination-list .sellect-item{
    padding-top: 3px;
    padding-bottom: 0;
    font-size: 11px;
}

.sellect-origin-list .sellect-item{
    font-size: 11px;
}

.sellect-destination-list .sellect-item:hover,
.sellect-origin-list .sellect-item:hover{
    color: #6fbb95;
}

.sellect-container{
    background: #efefef;
}

.demo-list{
    width: 49%;
    background: #fff;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 40px;
    padding: 10px;
}

.demo-list span{
    display: block;
    font-size: 10px;
    line-height: 2;
    font-style: italic;
}

.selected-list{
    float: left;
}

.selected-list:before{
    content: 'selected items:';
}

.unselected-list{
    float: right;
}

.unselected-list:before{
    content: 'unselected items:';
}