USE [master]
GO
/****** Object:  Database [bdhotel_lepers-vieillard]    Script Date: 10/01/2024 21:04:16 ******/
CREATE DATABASE [bdhotel_lepers-vieillard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdhotel_lepers-vieillard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bdhotel_lepers-vieillard.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdhotel_lepers-vieillard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bdhotel_lepers-vieillard_log.ldf' , SIZE = 729088KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdhotel_lepers-vieillard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdhotel_lepers-vieillard]
GO
/****** Object:  Table [dbo].[chambre]    Script Date: 10/01/2024 21:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chambre](
	[nohotel] [int] NOT NULL,
	[nochambre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nohotel] ASC,
	[nochambre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipement]    Script Date: 10/01/2024 21:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipement](
	[noequ] [int] IDENTITY(1,1) NOT NULL,
	[lib] [varchar](255) NOT NULL,
	[imgequ] [varchar](50) NULL,
 CONSTRAINT [PK__equipeme__E56BE9F31E053AEF] PRIMARY KEY CLUSTERED 
(
	[noequ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equiper]    Script Date: 10/01/2024 21:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equiper](
	[nohotel] [int] NOT NULL,
	[noequ] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nohotel] ASC,
	[noequ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel]    Script Date: 10/01/2024 21:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[nohotel] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](255) NOT NULL,
	[adr1] [varchar](255) NOT NULL,
	[adr2] [varchar](255) NULL,
	[cp] [varchar](5) NOT NULL,
	[ville] [varchar](255) NOT NULL,
	[tel] [varchar](20) NOT NULL,
	[descourt] [varchar](255) NULL,
	[deslong] [varchar](1000) NULL,
	[prix] [float] NOT NULL,
	[password] [varchar](255) NOT NULL,
 CONSTRAINT [PK__hotel__4E501312B67378F7] PRIMARY KEY CLUSTERED 
(
	[nohotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photo]    Script Date: 10/01/2024 21:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photo](
	[nohotel] [int] NOT NULL,
	[nophoto] [int] NOT NULL,
	[nomfichier] [varchar](255) NULL,
 CONSTRAINT [PK__photo__635A91202F44CEB3] PRIMARY KEY CLUSTERED 
(
	[nohotel] ASC,
	[nophoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 10/01/2024 21:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[noresglobale] [int] IDENTITY(1,1) NOT NULL,
	[nohotel] [int] NOT NULL,
	[nores] [int] NOT NULL,
	[datedeb] [datetime] NULL,
	[datefin] [datetime] NULL,
	[nom] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[codeacces] [varchar](5) NULL,
 CONSTRAINT [PK_reservation] PRIMARY KEY CLUSTERED 
(
	[noresglobale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reserver]    Script Date: 10/01/2024 21:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reserver](
	[nohotel] [int] NOT NULL,
	[nochambre] [int] NOT NULL,
	[noresglobale] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nohotel] ASC,
	[nochambre] ASC,
	[noresglobale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[chambre] ([nohotel], [nochambre]) VALUES (1, 1)
INSERT [dbo].[chambre] ([nohotel], [nochambre]) VALUES (1, 2)
INSERT [dbo].[chambre] ([nohotel], [nochambre]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[equipement] ON 

INSERT [dbo].[equipement] ([noequ], [lib], [imgequ]) VALUES (3, N'Wifi', N'wifi.png')
INSERT [dbo].[equipement] ([noequ], [lib], [imgequ]) VALUES (4, N'Animaux admis', N'animaux.png')
INSERT [dbo].[equipement] ([noequ], [lib], [imgequ]) VALUES (5, N'Petit Déjeuner', N'petitdejeuner.png')
SET IDENTITY_INSERT [dbo].[equipement] OFF
GO
INSERT [dbo].[equiper] ([nohotel], [noequ]) VALUES (1, 3)
INSERT [dbo].[equiper] ([nohotel], [noequ]) VALUES (1, 6)
INSERT [dbo].[equiper] ([nohotel], [noequ]) VALUES (1, 8)
GO
SET IDENTITY_INSERT [dbo].[hotel] ON 

INSERT [dbo].[hotel] ([nohotel], [nom], [adr1], [adr2], [cp], [ville], [tel], [descourt], [deslong], [prix], [password]) VALUES (1, N'demo', N'adr1', N'adr2', N'cp', N'ville', N'tel', N'descourt', N'desclong', 10, N'demo')
SET IDENTITY_INSERT [dbo].[hotel] OFF
GO
INSERT [dbo].[photo] ([nohotel], [nophoto], [nomfichier]) VALUES (1, 1, N'01.jpg')
INSERT [dbo].[photo] ([nohotel], [nophoto], [nomfichier]) VALUES (2, 2, N'02.jpg')
INSERT [dbo].[photo] ([nohotel], [nophoto], [nomfichier]) VALUES (3, 3, N'03.jpg')
GO
ALTER TABLE [dbo].[chambre]  WITH CHECK ADD  CONSTRAINT [FK__chambre__nohotel__4222D4EF] FOREIGN KEY([nohotel])
REFERENCES [dbo].[hotel] ([nohotel])
GO
ALTER TABLE [dbo].[chambre] CHECK CONSTRAINT [FK__chambre__nohotel__4222D4EF]
GO
ALTER TABLE [dbo].[equiper]  WITH CHECK ADD  CONSTRAINT [FK__equiper__noequ__3C69FB99] FOREIGN KEY([noequ])
REFERENCES [dbo].[equipement] ([noequ])
GO
ALTER TABLE [dbo].[equiper] CHECK CONSTRAINT [FK__equiper__noequ__3C69FB99]
GO
ALTER TABLE [dbo].[equiper]  WITH CHECK ADD  CONSTRAINT [FK__equiper__nohotel__3B75D760] FOREIGN KEY([nohotel])
REFERENCES [dbo].[hotel] ([nohotel])
GO
ALTER TABLE [dbo].[equiper] CHECK CONSTRAINT [FK__equiper__nohotel__3B75D760]
GO
ALTER TABLE [dbo].[photo]  WITH CHECK ADD  CONSTRAINT [FK__photo__nohotel__3F466844] FOREIGN KEY([nohotel])
REFERENCES [dbo].[hotel] ([nohotel])
GO
ALTER TABLE [dbo].[photo] CHECK CONSTRAINT [FK__photo__nohotel__3F466844]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [FK_reservation_hotel] FOREIGN KEY([nohotel])
REFERENCES [dbo].[hotel] ([nohotel])
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [FK_reservation_hotel]
GO
ALTER TABLE [dbo].[reserver]  WITH CHECK ADD  CONSTRAINT [FK__reserver__chambre] FOREIGN KEY([nohotel], [nochambre])
REFERENCES [dbo].[chambre] ([nohotel], [nochambre])
GO
ALTER TABLE [dbo].[reserver] CHECK CONSTRAINT [FK__reserver__chambre]
GO
ALTER TABLE [dbo].[reserver]  WITH CHECK ADD  CONSTRAINT [FK_reserver_reservation] FOREIGN KEY([noresglobale])
REFERENCES [dbo].[reservation] ([noresglobale])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reserver] CHECK CONSTRAINT [FK_reserver_reservation]
GO
USE [master]
GO
